.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header {
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem 0;
}

.button {
    color: black;
    padding: 0 2.1em;
    font-size: .875em;
    height: 48px;
}
